* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// mixins

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
}

//variables
$heightHeader: 100px;

//general

.page-wrapper {
  padding: 30px;
  margin-top: 10px;
  position: relative;
}

header {
  height: $heightHeader;
  line-height: 50px;
  border-bottom: 1px solid #000;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background: #fff;
}


// header

.header-top {
  @include flexStart;
}

.header-bottom {
  display: flex;
  justify-content: space-between;

  & ul {
    display: flex;

  & li {
    list-style: none;
    margin: 0 20px;

    & a {
      text-decoration: none;
    }
  }
  }
}

//main
main {

  & .container {
    max-width: 70%;
    margin: calc(#{$heightHeader * 2}) auto;
    overflow-y: auto;
    &-faq {
      line-height: 30px;
      margin-bottom: 50px;
    }
  }
}

// footer
